* {
	font-family: 'lato', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0 30px;
	width:1000px;
}

img {
	width: 100%;
}

header {
	width: 100%;
}

header h1 {
	font-weight: 300;
	width: 350px;
	display: inline-block;
}

header h2 {
	color: RGBA(109, 112, 114, 1);
	padding: 1px 0;
	font-size: 22px;
	width:400px;
	display: inline-block;
}

h1 a {
	color: #F9CF71;
	text-decoration: none;
	font-size: 55px;
	margin: 0 0 -5px;
}

h2 {
	color: black;
	font-size: 25px;
	font-weight: 300;
}

h2 a {
	text-decoration: none;
	color: black;
	font-size: 40px;
	margin: 0 0 10px 0;

}

h3 {
	color: rgba(204, 204, 204, 1);
	font-size: 40px;
	margin: 50px 0 -10px 0;
	font-weight: 300;
}

h4 a{
	text-decoration: none;
	color: rgba(250, 208, 105, 255);
	margin: 0 0 10px 0;
	font-size: 16px;
	float: right;
}

hr {
	width: 100%;
	border-color: rgba(204, 204, 204, .2);
	display: inline-block;
}

.two hr {
	margin: 30px 0;
}

div p {
	line-height: 24px;
	color: rgba(68, 73, 73, .8);
}

p+a {
	float: right;
}

nav {
	color: rgba(204, 204, 204, 1);
}

.topnav a {
	display: inline-block;
	text-align: center;
	color: RGBA(255, 255, 255, 1);
	background-color: RGBA(176, 182, 187, 1);
	width: 150px;
	font-size: 18px;
	font-weight: 300;
	padding: 15px 30px;
	margin: 0 1px 0 0;
	text-decoration: none;
	float: left;
}

footer {
	margin: 70px 0 0 0;
	clear: both;
}

.one {
	float: left;
	width:70%;
	padding-right: 25px;
}

.one p::first-letter {
	display:inline-block;
	float:left;
	font-size: 110px;
	font-weight: 300;
	padding: 30px 10px 30px 0;
	color: rgba(204, 204, 204, .6);
}

.two p {
	color: RGBA(109, 112, 114, .7);
}

.two h4 {
	color:RGBA(109, 112, 114, 1);
}

.more a {
	text-decoration: none;
	color: rgba(250, 208, 105, 255);
	font-size: 18px;
	float: right;
	margin: 10px 0 30px 0;
}

.two li {
	color: RGBA(109, 112, 114, 1);
}

.two li a {
	color: rgba(250, 208, 105, 255);
	text-decoration: none;
	display: inline-block;
	margin: 3px 0;
	font-size: 14px;

}

.two {
	float: left;
	width: 30%;
	padding-top: 100px;
}

.footernav a {
	display: inline-block;
	color: rgba(250, 208, 105, 255);
	margin: 50px 5px 0 0px;
	text-decoration: none;
}

.trademark {
	display: inline-block;
	margin-top: 30px;
	color: rgba(204, 204, 204, .7);
}

